StockPicking_Fundamentals
FRED_Data_Major_v8.mat
Indices_Data_Full_v5.mat
Russel_Data_Selected_v4.mat
Reuters_Data_Load_v7_Update.xlsm
CodesWorkflow_StockPicker_v1.xlsx
Russel_3000_Industries.xlsx
settings.json
__pycache__
SP-data